@media screen and (max-width:576px) {
    body{
        margin: 0;
    }
    .navbar{
        width: 100%;
    }
   .navbar li a{
    display: none;
   } 
   .menu{
    display:block ;
    color: white;
   }
   .hero-section,
   .hero-buttons,
   .habits,
   .run-section,
   .calculation-part{
    flex-direction: column;
   }
   .workout-vedios{
    position: relative;
    left: 140px;
   }
   .tutorial-vedios{
    position: relative;
    right: 5px;
   }
   .habit-section{
    width: 90%;
   }
   .habit{
   padding: 1rem;
   }
   .calculator-heading{
    padding-left: 1rem;
    text-align: left;
   }
   .bmi-table{
    width: 19rem;
   }
   .bmi-calculation input,
   textarea{
    width: 10rem;
   }
}